; http://EditorConfig.org
root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{js,css,ts}]
indent_style = space
indent_size = 4

[*.{html}]
indent_style = space
indent_size = 4

[node_modules/**/*,dist/**/*]
insert_final_newline = false
indent_style = none
indent_size = none

[*.md]
trim_trailing_whitespace = false